* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f4f6f9;   /* red hata diya */
}

/* NAVBAR */
.navbar {
  background: #0b1c2d;
  padding: 15px 30px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 45px;
}

.nav-left span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* MAIN CARD */
.main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card {
  background: #fff;
  width: 600px;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
}

.sub {
  color: #666;
  margin-bottom: 25px;
}

input[type="file"] {
  padding: 12px;
  width: 100%;
  border: 2px dashed #cbd5e1;
  border-radius: 10px;
  margin-bottom: 20px;
}

button {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #1e40af;
}
