body {
    background: red !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    background: #0b1c2d;
    padding: 14px 30px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.logo {
    height: 42px;
    width: auto;
}

/* MAIN AREA */
.main {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/* CARD */
.card {
    background: white;
    width: 520px;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    text-align: center;
}

.card h2 {
    margin-bottom: 8px;
}

.sub {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}

/* FORM */
input[type="file"] {
    width: 100%;
    margin-bottom: 20px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 26px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #1e4fd6;
}
