<h1 style="color:red">TEST PAGE</h1>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>South Transport Company | Billing Portal</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="navbar">
  <div class="nav-left">
    <img src="/static/logos/logo.png" class="logo">
    <span>South Transport Company</span>
  </div>
</div>

<div class="main">
  <div class="card">
    <h2>Upload Excel File</h2>
    <p class="sub">Upload billing Excel to generate invoice PDFs</p>

    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required>
      <button type="submit">Generate Bills</button>
    </form>
  </div>
</div>

</body>
</html>
