<div class="navbar">
  <div class="nav-left">
    <img src="{{ url_for('static', filename='logos/logo.png') }}" class="logo">
    <span>South Transport Company</span>
  </div>
</div>

<div class="main">
  <div class="card">
    <h2>Upload Excel File</h2>
    <p class="sub">Upload the billing Excel file to generate invoice PDFs</p>

    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required>
      <button type="submit">Generate Bills (PDF)</button>
    </form>
  </div>
</div>
