<!DOCTYPE html>
<html>
<head>
  <title>Transport Billing Portal</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="navbar">
  <div style="display:flex;gap:12px;align-items:center">
    <img src="/static/logos/logo.png">
    <h2>South Transport Company</h2>
  </div>
</div>

<div class="container">

  <div class="card">
    <h3>Upload Excel</h3>
    <form method="POST" enctype="multipart/form-data">
      <div class="upload-box">
        <input type="file" name="file" required>
        <br><br>
        <button class="btn">Generate Bills</button>
      </div>
    </form>
  </div>

</div>

</body>
</html>
